.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #ede4e4;
    border-top: 1px solid #f7ebeb;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    color: #e9e1e1;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
  }
  