.formViewContainar {
    font-family: Arial, sans-serif;
    margin: 5px 20px;
    text-align: left;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(42, 163, 174);
  }
  
  .logo {
    max-width: 200px;
    padding-top: 2%;
  }
  
  .info-table, .services-table, .hotels-table, .quotation-table, .tour-condition-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .info-table td, .services-table th, .services-table td, .hotels-table th, .hotels-table td, .quotation-table th, .quotation-table td, .tour-condition-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    font-size: small;
  }
  
  .info-table th, .services-table th, .hotels-table th, .quotation-table th {
    background-color: #10afe4;
    color: #000;
  }
  
  .services-table th, .services-table td {
    text-align: center;
  }
  
  .header h1, .header h2 {
    margin: 0;
  }
  
  .tour-condition-table td {
    border: 1px solid #000;
    padding: 1px;
    text-align: left;
    font-size: small;
  }
  .conditions{
    margin: 20px;
    text-align: left;
  }
  
  h3 {
    background-color: #a99b2c;
    padding: 5px;
  }
  
  p {
    border: 1px solid #ddd;
    padding: 3px;
    background-color: #f9f9f9;
    margin: 0px;
    font-size: small;
  }
  